Repository Hidekazoo/gatsby-theme-crudzoo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

remove emotion
  gatsby-config.js
  package.json
  src/components/search/index.js
  src/components/search/styles.js
  src/components/toggleDarkMode.tsx
  src/styles/global.css
  src/styles/styled.tsx
  src/templates/blog-post.tsx
  src/templates/book-review.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix plugin setting
  gatsby-config.js
Due: eslint --fix

fix localize data
  README.md
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/Layout.tsx
  src/components/search/index.js
  src/components/search/input.js
  src/hooks/useLocalize.tsx
  src/pages/index.tsx
  src/templates/blog-post.tsx
  src/templates/book-review.tsx
  src/templates/series.tsx
  src/utils/i18n.ts
Due: prettier --write, eslint --fix

fix style
  src/components/Layout.tsx
Due: prettier --write

update peerdependency
  README.md
  package.json
Due: none

remove console
  src/components/search/index.js
Due: eslint --fix

fix localized data
  package.json
  src/components/ArticleList.tsx
  src/components/Pager.tsx
  src/hooks/useLocalize.tsx
  src/pages/index.tsx
  src/templates/archive.tsx
  src/templates/blog-post.tsx
  src/templates/book-review.tsx
  src/templates/series.tsx
  src/templates/tags.tsx
  src/utils/i18n.ts
Due: prettier --write

update example
  example/assets/profile-pic.jpg
  example/blog/about/index.mdx
  example/blog/about/thumbnail.png
  example/blog/hello-world/index.mdx
  example/blog/hello-world/thumbnail.png
  example/gatsby-config.js
  example/package.json
  example/series/sample-thumb.png
  example/series/sample.json
  example/series/sample.png
  example/tailwind.config.js
  example/yarn.lock
Due: eslint --fix

0.3.0
  package.json
Due: none

update README
  .gitignore
  README.md
Due: none

add comment space
  src/components/Comments.tsx
  src/templates/blog-post.tsx
Due: prettier --write

add commnet props
  src/components/Comments.tsx
  src/templates/blog-post.tsx
  src/templates/book-review.tsx
Due: prettier --write

remove purge css plugin
  README.md
  gatsby-config.js
  package.json
Due: eslint --fix

export interface and add props blog-title
  index.ts
  src/components/Comments.tsx
  src/templates/blog-post.tsx
Due: prettier --write

0.3.1
  package.json
Due: none

fix list margin
  src/components/Layout.tsx
Due: prettier --write

0.3.2
  package.json
Due: none

add table of contents
  package.json
  src/components/Layout.tsx
  src/hooks/useBlogScrollPosition.tsx
  src/templates/blog-post.tsx
Due: prettier --write

add filter depth equal two
  src/templates/blog-post.tsx
Due: prettier --write

replace siteMetadata
  src/components/Layout.tsx
  src/components/Seo.tsx
  src/hooks/useLocalize.tsx
  src/hooks/useSiteMetadata.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/templates/blog-post.tsx
  src/templates/book-review.tsx
  src/templates/series.tsx
  src/templates/tags.tsx
  src/types/SiteMetaData.ts
Due: prettier --write

replace siteMetadata
  src/components/Bio.tsx
Due: prettier --write

fix search components js to tsx
  package.json
  src/components/Layout.tsx
  src/components/search/hitcomps.tsx
  src/components/search/index.js
  src/components/search/index.tsx
  src/components/search/input.tsx
  src/components/search/styles.js
  src/components/search/useOutSideClick.tsx
Due: prettier --write, eslint --fix

Separating queries and presentational components
  gatsby-node.js
  src/components/BlogPostFooterNav.tsx
  src/templates/BlogPost.tsx
  src/templates/BlogPostLayout.tsx
  src/templates/BookReview.tsx
  src/templates/BookReviewLayout.tsx
  src/templates/SeriesLayout.tsx
  src/templates/blog-post.tsx
  src/templates/series.tsx
  src/types/BlogPost.ts
Due: prettier --write, eslint --fix

0.4.0
  package.json
Due: none

fix filename
  package.json
  src/templates/Archive.tsx
  src/templates/Series.tsx
Due: prettier --write

fix filename
  src/templates/archive.tsx
  src/templates/series.tsx
Due: prettier --write

separating query and ui
  src/components/HomePageHero.tsx
  src/components/HomePageLayout.tsx
  src/components/Section.tsx
  src/pages/index.tsx
  src/types/Home.ts
Due: prettier --write

add test environment and HeaderNav
  .eslintrc
  __mocks__/fileMock.js
  __mocks__/gatsby.js
  __mocks__/styleMock.js
  jest-preprocess.js
  jest.config.js
  loadershim.js
  package.json
  src/components/Header.tsx
  src/components/HeaderNav.tsx
  src/components/__tests__/HeaderNav.test.tsx
  src/styles.d.ts
  src/styles/components/Header.module.css
  src/styles/components/HeaderNav.module.css
  src/styles/global.css
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

fix home screen ui
  jest-setup.ts
  jest.config.js
  src/components/ArticleList.tsx
  src/components/Bio.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/HomeHero.tsx
  src/components/HomeRecentArticles.tsx
  src/components/HomeRecentArticlesSection.tsx
  src/components/HomeRecentArticlesSidebar.tsx
  src/components/HomeSectionTitle.tsx
  src/components/Layout.tsx
  src/components/StarRateBox.tsx
  src/components/__tests__/HeaderNav.test.tsx
  src/components/__tests__/HomeHero.test.tsx
  src/components/icons/HeroImg.tsx
  src/components/search/input.tsx
  src/pages/index.tsx
  src/styles/components/Footer.module.css
  src/styles/components/HomeHero.module.css
  src/styles/components/HomeRecentArticles.module.css
  src/styles/components/HomeRecentArticlesSection.module.css
  src/styles/components/HomeRecentArticlesSidebar.module.css
  src/styles/components/HomeSectionTitle.module.css
  src/styles/global.css
  src/styles/test.module.css
  tsconfig.json
Due: prettier --write, eslint --fix

Fix index page tags
  src/components/HomeRecentArticlesSidebar.tsx
  src/components/TagList.tsx
  src/hooks/useTags.tsx
  src/pages/index.tsx
  src/styles/components/HomeRecentArticlesSection.module.css
Due: prettier --write

fix location props
  src/templates/BlogPost.tsx
  src/templates/BlogPostLayout.tsx
  src/types/BlogPost.ts
Due: prettier --write

fix Series location props
  src/templates/Series.tsx
  src/templates/SeriesLayout.tsx
Due: prettier --write

fix tags link
  src/components/HomeRecentArticlesSidebar.tsx
Due: prettier --write

Fix Mobile Header and update algolia search
  gatsby-config.js
  package-lock.json
  package.json
  src/components/HeaderNav.tsx
  src/components/MenuIcon.tsx
  src/components/search/input.tsx
  src/styles/components/HeaderNav.module.css
Due: prettier --write, eslint --fix

Fix Algolia Search config
  gatsby-config.js
Due: eslint --fix

FIX Algolia Search config
  src/components/search/index.tsx
Due: prettier --write

FIX Algolia Search config
  gatsby-config.js
  src/components/search/index.tsx
Due: prettier --write, eslint --fix

Migrate gatsby v2 to v3
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  package.json
  postcss.config.js
  src/components/Home.tsx
  src/components/Layout.tsx
  src/components/toggleDarkMode.tsx
  src/pages/index.tsx
  src/pages/series.tsx
  src/styles/tailwind.css
  src/templates/Series.tsx
  src/templates/SeriesLayout.tsx
  src/templates/tags.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

add reset css
  gatsby-browser.js
  package.json
  src/styles/reset.css
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx}
  eslint --fix: any of: *.js
