Repository Hidekazoo/gatsby-theme-crudzoo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
      "prettier --write",
      "git add"
    ],
    "*.js": [
      "eslint --fix",
      "git add"
    ]
}

update styling
  index.ts
  src/components/ArticleList.tsx
  src/components/Button.tsx
  src/components/Content.tsx
  src/components/Header.tsx
  src/components/HeroImg.tsx
  src/components/Home.tsx
  src/components/HomeHero.tsx
  src/components/HomeHeroDescription.tsx
  src/components/HomeRecentArticle.tsx
  src/components/HomeRecentArticles.tsx
  src/components/HomeRecentArticlesSidebar.tsx
  src/components/HomeSidebarBlock.tsx
  src/components/Layout.tsx
  src/components/Pager.tsx
  src/components/Series.tsx
  src/components/SeriesHero.tsx
  src/components/TextHero.tsx
  src/components/icons/HeroImg.tsx
  src/components/search/index.tsx
  src/hooks/usePluginOptions.js
  src/hooks/useSiteMetadata.tsx
  src/pages/series.tsx
  src/styles/components/ArticleList.module.css
  src/styles/components/BlogPostLayout.module.css
  src/styles/components/Content.module.css
  src/styles/components/Header.module.css
  src/styles/components/HomeHero.module.css
  src/styles/components/HomeRecentArticlesSection.module.css
  src/styles/components/HomeRecentArticlesSidebar.module.css
  src/styles/components/Layout.module.css
  src/styles/components/Pager.module.css
  src/styles/components/SeriesLayout.module.css
  src/styles/components/SeriesList.module.css
  src/styles/components/TextHero.module.css
  src/templates/Archive.tsx
  src/templates/BlogPostLayout.tsx
  src/templates/SeriesLayout.tsx
  src/templates/tags.tsx
  src/types/SiteMetaData.ts
Due: prettier --write, eslint --fix

update book-review style
  src/components/StarRateBox.tsx
  src/components/TagList.tsx
  src/styles/components/BookReviewLayout.module.css
  src/styles/components/StarRateBox.module.css
  src/styles/components/TagList.module.css
  src/styles/index.css
  src/styles/media.ts
  src/styles/tailwind.css
  src/styles/test.module.css
  src/templates/BlogPostLayout.tsx
  src/templates/BookReview.tsx
  src/templates/BookReviewLayout.tsx
Due: prettier --write

update lint-staged
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

fix article
  src/components/ArticleList.tsx
Due: prettier --write

fix postcss
  package.json
  postcss.config.js
Due: eslint --fix

fix dependency
  package.json
Due: none

fix css warning
  .prettierrc
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  index.ts
  package.json
  postcss.config.js
  src/components/ArticleList.tsx
  src/components/Bio.tsx
  src/components/BlogPostFooterNav.tsx
  src/components/BlogPostProvider.tsx
  src/components/Button.tsx
  src/components/Content.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/HeaderNav.tsx
  src/components/HeaderRoutes.ts
  src/components/Home.tsx
  src/components/HomeHero.tsx
  src/components/HomeRecentArticle.tsx
  src/components/HomeRecentArticles.tsx
  src/components/HomeRecentArticlesSection.tsx
  src/components/HomeRecentArticlesSidebar.tsx
  src/components/HomeSectionTitle.tsx
  src/components/Layout.tsx
  src/components/Pager.tsx
  src/components/Section.tsx
  src/components/Seo.tsx
  src/components/Series.tsx
  src/components/SeriesList.tsx
  src/components/StarRateBox.tsx
  src/components/TagList.tsx
  src/components/TextHero.tsx
  src/components/toggleDarkMode.tsx
Due: prettier --write, eslint --fix

Fix types
  index.ts
  package.json
  src/components/BlogPostFooterNav.tsx
  src/gatsby-plugin-theme-ui/index.ts
  src/styles/components/Content.module.css
Due: prettier --write

FIx Algolia setting
  README.md
  gatsby-config.js
  package-lock.json
  src/components/search/index.tsx
  src/components/search/input.tsx
  src/hooks/__mocks__/useSiteMetadata.tsx
  src/hooks/useSiteMetadata.tsx
  src/styles/components/SearchInput.module.css
  src/types/SiteMetaData.ts
Due: prettier --write, eslint --fix

update README
  README.md
Due: none

0.5.0
  package.json
Due: none

Fix Blog Post Style
  src/components/BlogPostProvider.tsx
  src/styles/components/BlogPostProvider.module.css
Due: prettier --write

0.5.1
  package.json
Due: none

fix typo
  src/components/HeaderRoutes.ts
Due: prettier --write

0.5.2
  package.json
Due: none

migrating gatsby v3 to v4
  gatsby-node.js
  package.json
Due: eslint --fix

delete exapmle lock file
  example/yarn.lock
Due: none

upgrade library
  package.json
Due: none

add workspace settings
  package.json
  packages/gatsby-theme-crudzoo/package.json
  yarn.lock
Due: none

delete husky
  .husky/.gitignore
  .husky/pre-commit
Due: none

fix README
  README.md
Due: none

fix book review template
  example/blog/book/index.mdx
  example/blog/book/thumbnail.png
  example/gatsby-config.js
  packages/gatsby-theme-crudzoo/src/templates/BookReviewLayout.tsx
Due: prettier --write, eslint --fix

fix dependencies
  packages/gatsby-theme-crudzoo/package.json
  yarn.lock
Due: none

fix article style
  packages/gatsby-theme-crudzoo/src/components/ArticleList.tsx
  packages/gatsby-theme-crudzoo/src/components/BlogPostProvider.tsx
  packages/gatsby-theme-crudzoo/src/components/HomeRecentArticles.tsx
  packages/gatsby-theme-crudzoo/src/components/article/index.tsx
  packages/gatsby-theme-crudzoo/src/components/article/styles.module.css
  packages/gatsby-theme-crudzoo/src/pages/index.tsx
  packages/gatsby-theme-crudzoo/src/styles/components/BlogPostProvider.module.css
  packages/gatsby-theme-crudzoo/src/templates/Archive.tsx
Due: prettier --write

fix top page
  packages/gatsby-theme-crudzoo/src/components/article/index.tsx
  packages/gatsby-theme-crudzoo/src/components/article/styles.module.css
Due: prettier --write

update example
  example/blog/about/image1.jpg
  example/blog/about/index.mdx
  example/blog/about/thumbnail.png
  example/blog/book/image1.jpg
  example/blog/book/index.mdx
  example/blog/book/thumbnail.png
  example/gatsby-config.js
  example/series/sample.jpg
  example/series/sample.json
  example/series/sample.png
Due: eslint --fix

add CHANGELOG.md
  CHANGELOG.md
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

fix series page
  example/package.json
  packages/gatsby-theme-crudzoo/package.json
  packages/gatsby-theme-crudzoo/src/components/series-list/Series.module.css
  packages/gatsby-theme-crudzoo/src/components/series-list/Series.tsx
  packages/gatsby-theme-crudzoo/src/components/series-list/index.tsx
  packages/gatsby-theme-crudzoo/src/components/series-list/series-list.module.css
  packages/gatsby-theme-crudzoo/src/components/series-list/series-list.tsx
  packages/gatsby-theme-crudzoo/src/components/series-list/series.module.css
  packages/gatsby-theme-crudzoo/src/components/series-list/series.tsx
  packages/gatsby-theme-crudzoo/src/hooks/usePluginOptions.tsx
  packages/gatsby-theme-crudzoo/src/pages/series.tsx
  packages/gatsby-theme-crudzoo/src/templates/Archive.tsx
  packages/gatsby-theme-crudzoo/src/templates/Series.tsx
  yarn.lock
Due: prettier --write

fix typo
  packages/gatsby-theme-crudzoo/src/components/series-list/series-list.tsx
Due: prettier --write

release v0.6.0
  CHANGELOG.md
  packages/gatsby-theme-crudzoo/package.json
Due: none

upgrade library
  packages/gatsby-theme-crudzoo/package.json
  yarn.lock
Due: none

release v0.6.1
  CHANGELOG.md
  packages/gatsby-theme-crudzoo/package.json
Due: none
