Repository Hidekazoo/gatsby-theme-crudzoo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix style
  src/components/layout.tsx
  src/templates/blog-post.tsx
Due: prettier --write

update example
  example/blog/hello-world/index.mdx
  example/blog/hello-world/thumbnail.png
  example/series/sample-thumb.png
  example/series/sample.json
Due: none

comment out darkmode style
  package.json
  src/styles/global.css
Due: none

add theme-ui
  gatsby-config.js
  package.json
  src/components/article.tsx
  src/components/latestArticle.tsx
  src/components/layout.tsx
  src/components/series.tsx
  src/components/seriesList.tsx
  src/gatsby-plugin-theme-ui/index.ts
  src/pages/index.tsx
  src/styles/global.css
  src/templates/blog-post.tsx
  src/templates/series.tsx
  src/utils/i18n.ts
Due: prettier --write, eslint --fix

fix title
  src/components/layout.tsx
Due: prettier --write

fix style
  src/components/article.tsx
  src/components/layout.tsx
  src/gatsby-plugin-theme-ui/index.ts
  src/templates/blog-post.tsx
Due: prettier --write

fix style
  src/components/layout.tsx
  src/templates/series.tsx
Due: prettier --write

fix styles
  src/components/article.tsx
  src/components/bio.tsx
  src/components/box.tsx
  src/components/latestArticle.tsx
  src/components/series.tsx
  src/components/seriesList.tsx
  src/components/tagList.tsx
  src/templates/series.tsx
  src/templates/tags.tsx
Due: prettier --write

fix styles
  src/components/article.tsx
  src/components/latestArticle.tsx
Due: prettier --write

0.2.0
  package.json
Due: none

upgrade sharp library
  package.json
Due: none

0.2.1
  package.json
Due: none

add algolia
  gatsby-config.js
  package.json
  src/components/layout.tsx
  src/components/search/hitcomps.js
  src/components/search/index.js
  src/components/search/input.js
  src/components/search/styles.js
  src/components/search/useOutSideClick.js
  src/utils/algolia.js
Due: prettier --write, eslint --fix

fix import path
  src/components/search/index.js
Due: eslint --fix

update desgin layout
  .eslintrc
  .prettierrc
  README.md
  gatsby-config.js
  index.ts
  package.json
  postcss.config.js
  src/components/article.tsx
  src/components/articleList.tsx
  src/components/bio.tsx
  src/components/latestArticle.tsx
  src/components/layout.tsx
  src/components/search/hitcomps.js
  src/components/search/input.js
  src/components/search/styles.js
  src/components/series.tsx
  src/components/seriesList.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/styles/code.css
  src/styles/global.css
  src/styles/index.css
  src/styles/tailwind.css
  src/templates/blog-post.tsx
  src/templates/series.tsx
  src/templates/tags.tsx
  src/utils/algolia.js
Due: prettier --write, eslint --fix

fix package.json
  package.json
Due: none

fix large print
  src/components/ArticleList.tsx
  src/components/Bio.tsx
  src/components/Box.tsx
  src/components/LatestArticle.tsx
  src/components/Layout.tsx
  src/components/Seo.tsx
  src/components/SeriesList.tsx
  src/components/TagList.tsx
Due: prettier --write

fix algolia parameter
  gatsby-config.js
  src/utils/algolia.js
Due: eslint --fix

fix blog styles and date
  src/components/Layout.tsx
  src/templates/blog-post.tsx
  src/templates/series.tsx
  src/templates/tags.tsx
Due: prettier --write

fix date
  src/pages/index.tsx
Due: prettier --write

add pagination
  gatsby-node.js
  package.json
  src/components/Button.tsx
  src/components/Pager.tsx
  src/components/layout.tsx
  src/pages/index.tsx
  src/templates/archive.tsx
  src/templates/blog-post.tsx
Due: prettier --write, eslint --fix

fix import text
  src/templates/archive.tsx
Due: prettier --write

update style and remove some plugin
  gatsby-config.js
  gatsby-node.js
  index.ts
  package.json
  src/components/ArticleList.tsx
  src/components/Bio.tsx
  src/components/Box.tsx
  src/components/LatestArticle.tsx
  src/components/Layout.tsx
  src/components/Section.tsx
  src/components/SeriesList.tsx
  src/components/TagList.tsx
  src/components/search/hitcomps.js
  src/pages/404.tsx
  src/pages/index.tsx
  src/templates/archive.tsx
  src/templates/blog-post.tsx
  src/templates/series.tsx
  src/templates/tags.tsx
  src/types/Article.ts
  src/types/Location.ts
  src/types/Series.ts
Due: prettier --write, eslint --fix

fix series template
  src/templates/series.tsx
Due: prettier --write

fix lower-case file
  index.ts
  src/components/bio.tsx
  src/components/layout.tsx
  src/components/tagList.tsx
Due: prettier --write

update algolia search config setting
  gatsby-config.js
  gatsby-node.js
  src/components/box.tsx
  src/components/latestArticle.tsx
  src/components/search/index.js
  src/components/seriesList.tsx
  src/utils/DefaultOptions.js
Due: prettier --write, eslint --fix

add purge plugin
  gatsby-config.js
  package.json
  src/components/Layout.tsx
  src/components/layout.tsx
Due: prettier --write, eslint --fix

fix tailwind purge setting
  gatsby-config.js
Due: eslint --fix

fix ignore purge
  src/styles/code.css
Due: none

fix next prev article
  gatsby-node.js
  src/templates/blog-post.tsx
Due: prettier --write, eslint --fix

fix @babel/compat-data/corejs3-shipped-proposals
  package.json
Due: none

update gatsby react
  package.json
Due: none

add book-review-template
  gatsby-node.js
  package.json
  src/components/StarRateBox.tsx
  src/components/icons/StarHalfIcon.tsx
  src/components/icons/StarIcon.tsx
  src/templates/book-review.tsx
Due: prettier --write, eslint --fix

fix score and featured image
  src/components/ArticleList.tsx
  src/components/articleList.tsx
  src/templates/book-review.tsx
Due: prettier --write

rm file
  src/components/articleList.tsx
Due: prettier --write

add theme config
  src/hooks/usePluginOptions.js
Due: eslint --fix

rm duplicate file
  src/components/bio.tsx
  src/components/layout.tsx
  src/components/seo.tsx
  src/components/tagList.tsx
Due: prettier --write

remove duplicate file
  src/components/seriesList.tsx
Due: prettier --write

update mdx plugin
  package.json
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx}
  eslint --fix: any of: *.js
